<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--开启AOP注解模式-->
    <aop:aspectj-autoproxy  proxy-target-class="true"/>
    
    <bean id="orderDao" class="com.spring_aop_annotation.OrderDaoImpl"/>

    <bean id="myAspectAnnotation" class="com.spring_aop_annotation.MyAspectAnnotation"/>

</beans>